:root {
    --background-primary: #2A323D;
    --background-secondary: #252730;
    --font-primary: rgb(160, 167, 180);
    --grey-100: #AAA;
    --grey-400: #86868B;
    --grey-600: #A0A7B4;
    --white: #FFF;
    --black: #252730;
    --red: #E0245E;
}
* {
    box-sizing: border-box;
}
body, html {
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow: hidden;
}
body {
    width: 100%;
    margin: 0 auto;
    background: var(--background-secondary);
    /* Details */
    padding: 0px 5px;
    /* Tont table */
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 16px;
    line-height: 1.60em;
    letter-spacing: 1.25px;
    text-transform: none;
    white-space: nowrap;
    -moz-osx-font-smoothing: grayscale
}
a {
    color: rgb(160, 167, 180);
}
h2 {
    font-weight: 500;
}
nav {
    display: flex;
    justify-content: end;
}
.header {
    height:50px;
    color: #fff000;
    font-size: 20px;
    font-weight: bold;
}
.logo {
    padding-top: 15px;
    height: 30px;
}
#top {
    flex: 1;
    display: flex;
}
#map-chart, #nds-chart, #fps-chart, #miou-chart, #macc-chart {
    width: 30%;
}
#mota-chart, #motp-chart {
    width: 45%;
}
/* Modal */
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4);
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: 400;
    letter-spacing: 0.5px;
    line-height: 24px
}
.modal-content {
    background: var(--background-secondary);
    color: var(--font-primary);
    margin: auto;
    padding: 20px;
    padding-bottom: 40px;
    width: 80%;
    max-width: 560px;
    min-width: 280px;
    border-radius: 4px;
    white-space: initial;
    text-align: justify;
}
.close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}
.close-text {
    color: #aaaaaa;
    font-size: unset;
    font-weight: unset;
    font-weight: 500;
}
.close:hover,
.close:focus {
    color: white;
    text-decoration: none;
    cursor: pointer;
}
.settings {
    margin-top: 30px;
    padding-bottom: 30px;
    /* border-bottom: 1px dotted; */
    border-top: 1px dotted;
}
.btn {
    border: none;
    color: var(--font-primary);
    background-color: transparent;
    padding: 12px 16px;
    font-size: 20px;
    cursor: pointer;
    max-height: 50px;
    height: 50px;
}
.btn:hover, .btn:hover > a {
    color: white;
}
#detectionGrid, #segmentationGrid, #trackingGrid {
    width: 100%;
}
@media only screen and (max-width: 600px) {
    .modal {
        padding-top: 0px;
    }
    .modal-content {
        width: 100%;
    }
}
/* do not show main below 900px */
@media only screen and (max-width: 900px) {
    #main {
        display: none;
    }
    #detectionGrid, #segmentationGrid, #trackingGrid  {
        height: calc(100vh - 50px - 5px);
    }
}
@media only screen and (min-width: 900px) {
    #main {
        display: flex;
    }
    #detectionGrid, #segmentationGrid, #trackingGrid  {
        height: calc(100vh - 420px - 50px - 5px);
    }
}
@media only screen and (max-width: 1200px) {
    .main-metrics-column {
        padding: 0px 15px
    }
}
/* Details: table and map */
#main {
    text-align: center;
    margin: auto;
    max-width: 1500px;
    height: 420px;
}
.main-metrics {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    padding-top: 30px;
    min-width: 830px;
}
.main-metrics-column {
    width: 50%;
    min-width: 345px;
    padding: 0px 30px
}
.main-metrics-header {
    color: var(--grey-600);
}
.main-metric-footer {
    font-size: 11px;
    color: var(--grey-400);
    white-space: normal;
    text-align: end;
}
.main-metric-footer a {
    color: var(--grey-400);
}
.metric {
    display: flex;
    justify-content: space-between;
}
.metric-key {
    color: var(--grey-400);
}
.metric-value {
    color: var(--white);
    opacity: 1;
    transition: all 150ms;
}
.space-15 {
    margin-top: 15px;
}
.space-30 {
    margin-top: 30px;
}
svg {
    cursor: grab;
}
.svg-container {
    display: inline-block;
    position: relative;
    width: 100%;
    padding-bottom: 75px; /* aspect ratio */
    vertical-align: top;
    overflow: hidden;
}
.svg-container-map {
    display: inline-block;
    position: relative;
    width: 60%;
    padding-bottom: 0px;
    vertical-align: top;
    overflow: hidden;
}
.svg-content-responsive {
    display: inline-block;
    position: absolute;
    top: 10px;
    left: 0;
}
.ops-body {
    color: var(--white);
}
.ops-table td:nth-child(1) {
    color: var(--grey-400);
}
.ops-table td:nth-child(2) {
    text-justify: end;
}
.ops-table .red {
    color: var(--red);
}
.ops-content {
    margin: 0 auto;
    max-width: 400px;
    width: 100%;
}
nav a {
    text-decoration: none;
}
#map-chart, #nds-chart, #fps-chart {
    flex: 1;
    height: 25%;
}